#content
  .entry.feature
    %h3.title Haml
    %p.body Lorem Ipsum

<div id='content'>
  <div class='entry featured'>
    <h3 class='title'>Haml</h3>
    <p class='body'>Lorem Ipsum...</p>
  </div>
</div>
